In [1]:
import pandas as pd

In [5]:
df_2 = pd.read_csv("./data/Customer/customer_data_2.csv")
df_1 = pd.read_csv("./data/Customer/customer_data_1.csv")

In [8]:
df_2.rename(columns={"Ticket Description": "text"} , inplace = True)
df_2.head()

                                                text
0  I'm having an issue with the {product_purchase...
1  I'm having an issue with the {product_purchase...
2  I'm facing a problem with my {product_purchase...
3  I'm having an issue with the {product_purchase...
4  I'm having an issue with the {product_purchase...

In [20]:
df_1.head()

                                                text     label
0  Dear Sir/Madam,\n\nWhere can I find details ab...  customer
1  Dear Support,\n\nMy recent order #61510 arrive...  customer
2  Hello Team,\n\nCan you please provide the pric...  customer
3  Hello Team,\n\nCan you please provide the pric...  customer
4  Hi Team,\n\nThe quality of the Data Analytics ...  customer

In [21]:
df_2["label"] = "customer"

In [24]:
df = pd.concat([df_1 , df_2] , ignore_index = True )

In [34]:
df.to_csv("./data/Customer/customer_data.csv", index = False)