In [1]:
import pandas as pd

In [2]:
df_1 = pd.read_csv("./data/job_application/job_1.csv")
df_2 = pd.read_csv("./data/job_application/job_2.csv")

In [9]:
df_1["label"] = "job_applicant"

In [8]:
df_2.head()

                                                text          label
0  Dear Hiring Manager,\n\nI am writing to expres...  job_applicant
1  Dear Hiring Manager,\n\nI am writing to expres...  job_applicant
2  To the Hiring Team at NextGen Ltd,\n\nHaving f...  job_applicant
3  Dear Hiring Manager,\n\nI am writing to expres...  job_applicant
4  Dear Hiring Manager,\n\nI am writing to expres...  job_applicant

In [10]:
df_1

                                          Cover Letter          label
0    I am writing to express my interest in the Sen...  job_applicant
1    Dear Hiring Manager,\n\nI am writing to expres...  job_applicant
2    Dear Hiring Manager,\n\nI am writing to expres...  job_applicant
3    Dear Hiring Manager,\n\nI am writing to expres...  job_applicant
4    Dear Hiring Manager,\n\nI am writing to expres...  job_applicant
..                                                 ...            ...
720  I am excited to apply for the Senior Database ...  job_applicant
721  I am applying for the Senior Support Engineer ...  job_applicant
722  Dear Hiring Manager, I am writing to express m...  job_applicant
723  Dear Hiring Manager,\n\nI am writing to expres...  job_applicant
724  Dear Hiring Manager,\n\nI am writing to expres...  job_applicant

[725 rows x 2 columns]

In [11]:
df_1.rename(columns ={"Cover Letter" : "text" } , inplace = True)

In [12]:
df_1

                                                  text          label
0    I am writing to express my interest in the Sen...  job_applicant
1    Dear Hiring Manager,\n\nI am writing to expres...  job_applicant
2    Dear Hiring Manager,\n\nI am writing to expres...  job_applicant
3    Dear Hiring Manager,\n\nI am writing to expres...  job_applicant
4    Dear Hiring Manager,\n\nI am writing to expres...  job_applicant
..                                                 ...            ...
720  I am excited to apply for the Senior Database ...  job_applicant
721  I am applying for the Senior Support Engineer ...  job_applicant
722  Dear Hiring Manager, I am writing to express m...  job_applicant
723  Dear Hiring Manager,\n\nI am writing to expres...  job_applicant
724  Dear Hiring Manager,\n\nI am writing to expres...  job_applicant

[725 rows x 2 columns]

In [14]:
df = pd.concat([df_1, df_2] , ignore_index = True )

In [17]:
df.to_csv("data/job_application/job_application.csv" , index = False )